<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tipsy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0378BAC21D73D3F80095F75E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0378BAD61D73D3F80095F75E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0378BAE11D73D3F80095F75E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
